*{
	box-sizing: border-box;
}

body{
		font-family: 'Source Sans Pro', sans-serif;
}

#pageTitle{
	font-family: 'Anton', sans-serif;
	color: white;
	background-color: #8C1018;
	font-size: 78px;
	text-shadow: 4px 4px #242323;
	padding-top: 30px;
	padding-bottom: 30px;
	margin-top: 15px;

}


.margin-top{
	margin-top: 15px;
}

.ourHeadings {
	font-family: 'Anton', sans-serif;
	color: white;
	font-size: 22px;
	text-shadow: 2px 2px #242323;
	background-color: #8C1018;
	/*padding-right: 5px;
	padding-left: 5px;*/


	
}

.shade{
	background-color: #D1CDCD;
}

.ourPanel {
	
	border-color: #8C1018;
	padding-left: 0px;
	padding-right: 0px;
	/*margin-left: 5px;
	margin-right: 5px;*/
}

#searchButton, #clearButton{
	font-family: 'Anton', sans-serif;
	color: white;
	font-size: 18px;
	text-shadow: 2px 2px #242323;
	background-color: #8C1018;
}

#searchButton:hover,
#searchButton:active,
#searchButton:focus,
#searchButton:visited,
#clearButton:hover,
#clearButton:active,
#clearButton:focus,
#clearButton:visited{
	background-color: #635959;
}

h4{
	font-weight: bold;
}